<!-- views/dashboard.handlebars -->
<div class="container">
    <h2>Dashboard</h2>
    {{#each blogs as |blog|}}
        <div>
            <h3>{{blog.title}}</h3>
            <p>{{blog.content}}</p>
            <p>Posted on {{blog.createdAt}}</p>
            <button data-id="{{blog.id}}" class="delete-post-btn">Delete</button>
        </div>
    {{/each}}

    <h2>New Post</h2>
    <form id="new-post-form">
        <div class="form-group">
            <label for="blog-title-input">Title</label>
            <input type="text" id="blog-title-input" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="blog-content-input">Content</label>
            <textarea id="blog-content-input" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary" >Create Post</button>
    </form>
    <script src="/js/dashboard.js"></script>
</div>

<script>
  window.onload = function() {
    if(document.querySelector('#new-post-form')) {
        alert('Form exists!');
    } else {
        alert('Form does not exist!');
    }
  }
</script>
