<form class="new-post-form">
    <div>
      <label for="blog-title">Title</label>
      <!-- Correct the input id here to match the "for" attribute of the label -->
      <input type="text" id="blog-title" name="blog-title" />
    </div>
    <div>
      <label for="blog-text">Post</label>
      <!-- Correct the textarea id here to match the "for" attribute of the label -->
      <textarea id="blog-text" name="blog-text"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
</form>
